/*Zerando valores padrões*/
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/*Sessao principal*/
.sessao-principal{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left,
  rgb(56, 61, 126),
  rgba(81, 109, 181, 0.6));
}
.titulo-section{
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px 10px rgb(160, 107, 107);
  font-style: italic;
}
.container{
  position: relative;
  border: none;
  background-color: rgb(38, 59, 106);
  box-shadow: 2px 2px 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  height: 20rem;
  border-radius: .4rem;
  margin-right: auto;
}
.resultado-imc{
  position: absolute;
  top: 1rem;
  border: none;
  width: 80%;
  background-color: rgb(220, 220, 220);
  height: 5rem;
  border-radius: .4rem ;
  box-shadow: .1rem .1rem .5rem #000;
  display: flex;
  align-items: center;
  justify-content:space-around;
  overflow: hidden;
  
}
.resultado-imc>.resultado-peso{
  color: rgb(5, 5, 5);
  font-size: 20px; 
  font-family:fantasy;
  letter-spacing: .8px;
}
.resultado-imc>.resultado-situacao{
  width: 50%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.calculador-valores{
  position: absolute;
  top: 8rem;
  display: flex;
  flex-direction: column;


}
.calculador-valores>input,
.calculador-valores>button{
  padding: .4rem .4rem;
  margin: .4rem;
  width: 80%;
  border: none;
  border-radius: .4rem;
  outline: none;
}
.calculador-valores>button{
  background-color: #07a;
  color: #fff;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  transition: .4s;
}

.calculador-valores>button:hover{
  background-color: #fff;
  color: #07a;
  text-shadow: none;
  border: solid 1px #07a;
}

.btn_voltar_port{
  display: block;
  border: none;
  background-color: rgb(37, 39, 53);
  width: 5rem;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: .4rem .4rem;
  border-radius: .4rem;
  color: #fff;
  transition: all .4s;
  margin: 1rem 0;
  text-decoration: none;
}
.btn_voltar_port:hover{
  transform: scale(1.1);
}

@media(max-width:560px){
  .resultado-imc{
    flex-direction: column;
  }
  .resultado-imc>.resultado-peso,
  .resultado-imc>.resultado-situacao{
    font-size: 13px;
  }
}

@media(max-width:412px){
  .resultado-imc>.resultado{
    font-size: 15px;
  }
}