@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$font-quicksand: "Quicksand";


*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container-main.dark-container{
  background-color: #000;
}

.container-main{
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: relative;
  height: 100vh;
  display:flex; 
  flex-direction: column;
  align-items:center;
  justify-content: center;
  color: #fff;
  gap: 1rem;
  font-family: $font-quicksand;
  overflow: hidden;
  transition: all .4s;

  .dark-ligth-wrapper{
    cursor: pointer;
    position: fixed;
    right: 5rem;
    top: 5rem;
    color: #000;
    font-size: 3rem;
    
    i{
      color: rgb(4, 4, 4);
    }
    i.dark-ligth{
      color: #fff;
    }
  }

  .titulo-section.title-dark{
    color: #fff;
  }

  .titulo-section{
    position: relative;
    color: #000;
   
    &:before{
      position: absolute;
      content: "";
      width: 2rem;
      height: .1rem;
      bottom:0;
      left: 0;
      background-color:#fff;
    }
  }

  

  .container{
    gap: 3rem;
    width: 30rem;
    height: 30rem;
    background-color: rgb(59, 60, 65);
    display:flex;
    border: none;
    border-radius:.4rem;
    flex-direction: column;
    box-shadow:  1px 1px .5rem rgba(255, 255, 255, 0.667);
    align-items: center;
    justify-content: center;

    

    .resultado-imc{
      background-color: #fff;
      width: 90%;
      height: 4rem;
      border-radius: .4rem;
      display: flex;
      justify-content: center;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      color: #000;
    }

    .calculador-valores{
      width: 80%;
      height: 8rem;
      border-radius: .4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      justify-content: center;

      input{
        width: 90%;
        border: none;
        padding: 1rem;
        outline: none;
        border-radius: .2rem;
        font-family: $font-quicksand;
      }

      button{
        cursor: pointer;
        border: none;
        width: 90%;
        font-size: 15px;
        padding: 1rem;
        border-radius: .2rem;
        font-family: $font-quicksand;
        color: #fff;
        background-color: rgb(175, 156, 102);
        transition: all .2s ease-in-out;

        &:hover{
          background-color:#fff;
          color: rgb(175, 156, 102);
        }
      }
    }
  }

  a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(41, 43, 73);
    padding: 1rem;
    display: block;
    border-radius: .4rem;
    transition: all .2s ease ;


    &:hover{
      background-color: #fff;
      color:rgb(41, 43, 73) ;

      transform: scale(1.2);
    }
  }
}

@media(max-width:500px){
  .sessao-principal{

    .container{
      width: 90%;
    }
  }
}